
/*Adaptive design*/
@media screen and (max-width: 1150px) {
    .header-wrapper, .gallery-wrapper, .artists-page-wrap,  .picture-wrap, .footer-wrap {
        width: 884px !important;
    }
    .artist-wrap {
        width: 873px !important;
    }
    .feedback .header {
        width: 884px; 
    }
    .gallery-wrapper {
        height: 887px;
    }
    .gallery-element {
        width: 282px;
        height: 282px;
        margin: 6px;
    }
        .menu {
            margin-left: 9px;
        }
        .mail {
            margin-right: 9px;
        }
    .artists-element {
        width: 282px;
        height: 282px;
    }
    .artists-list-block a {
        margin: 25px 0px;
    }
}

@media screen and (max-width: 1023px) {
    .artists-list-block div {
        width: 600px;
    }
}

@media screen and (max-width: 950px) {
    .header-wrapper, .gallery-wrapper, .artists-page-wrap, .filter-bar-wrapper, .picture-wrap, .footer-wrap {
        width: 732px !important;
    }
    .artist-wrap {
        width: 720px !important;
    }
    .feedback .header {
        width: 732px; 
    }
    .gallery-wrapper {
        height: 1839px;
    } 
        .filter-bar-element a {
            font-size: 14px;
            padding: 15px 10px;
        }
    .gallery-element {
        width: 350px;
        height: 350px;
        margin: 5px 8px 5px 8px;
    }
    .in-art-page .gallery-element {
        margin-bottom: 12px;
    }
    .artists-element {
        width: 356px;
        height: 356px;
    }
        
    .picture-img-block {
        width: 60%;
    }
    .picture-description {
        width: 40%;
    }
    .picture-img-block {
        display: block !important;
        width: 100% !important;
    }
    .picture-description {
        width: 100% !important;
    }
    .picture .picture-wrap .picture-description p, h3, a {
        padding: 10px 0;
    }
    .picture-description h3 {
        margin-top: 20px !important;
    }
    .picture-description-inner {
        padding: 0px;
    }
    .fa-arrow-right {
        top: 11px;
    }
    .fa-arrow-left {
        top: 11px;
    }
}
@media screen and (max-width: 764px) {
    .header-wrapper, .gallery-wrapper, .artists-page-wrap, .filter-bar-wrapper, .picture-wrap, .footer-wrap {
        width: 550px !important;
    } 
    .artist-wrap {
        width: 535px !important;
    }
    .feedback .header {
        width: 550px; 
    }
    .gallery-wrapper {
        height: 1389px;
    }
    .gallery-element {
        width: calc(50% - 20px);
        max-height: 255px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .in-art-page .gallery-element {
        margin-bottom: 16px;
    }
        .mail {
            margin-right: 16px;
        }
    .artists-element {
        width: calc(50% - 10px);
        max-height: 274px;
    }
    .filter-bar-wrapper {
            height: 120px;
        }
            .filter-bar-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
                .filter-bar-element {
                    height: auto;
                    margin: 20px 0px;
                }
    .picture-img-block {
        width: 100%;
    }
    .picture-description {
        width: 100%;
    }
        .picture-description h3{
            margin-top: 30px;
            padding-left: 0;
        }
        .picture-description p {
            padding-left: 0;
        }
        .picture-description a {
            padding-left: 0;
        }
    .owl-carousel .owl-nav .owl-prev img {
        height: 30px;
    }
    .owl-carousel .owl-nav .owl-next img {
        height: 30px;
    }
    .slider .owl-carousel .item {
        height: 274px;
    }
    .artist-wrap p {
        font-size: 16px;
    }
    .artist-main-block {
        flex-flow: column;
        align-items: center;
    }
    .artist-photo {
        width: 100% !important;
    }
    .artist-short-info {
        width: 100% !important;
    }
        .artist-short-info h3 {
            padding: 10px !important;
        }
        .artist-short-info p {
            padding: 10px !important;
        }
    
    .picture-description-inner {
        padding: 10px;
    }
        .picture-description-inner h3, a{
            padding: none !important;
        }
    .artist-biography {
        padding: 0 10px !important;
    }
    .artists-list-block div {
        width: 500px;
    }
}

@media screen and (max-width: 764px) and (min-width: 621px) {
    .gallery-title {
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 621px){
    .dropdown-filter{
        display: none !important;
    }
}
@media screen and (max-width: 620px) {
    .header-wrapper, .gallery-wrapper, .artists-page-wrap, .artist-wrap, .filter-bar-wrapper, .footer-wrap {
        width: 100% !important;
    } 
    .feedback .header {
        width: 100%; 
    }
    .logo img{
        height: 60px;
        margin-left: calc(50% - 11px); 
    }
    .picture-wrap {
        width: 100% !important;
    }
    .gallery-wrapper {
        height: 2502px;
    }
        .menu a, .om-menu a{
            margin-left: 15px;
        }
        .mail a, .om-mail a{
            margin-right: 8px;
        }
    .gallery-element {
        width: 100%;
        height: 300px;
    }
    .artists-element {
        width: 100%;
        height: 300px;
    }
        .mail {
            margin-right: 0px;
        }
    .filter-bar-wrapper {
        display: table;
    }
    .filter-bar-element {
        display: none;
    }
    .filter-bar-button {
        display: table-cell;
    }
        .rights {
            font-size: 10px;
        }
    .artist-wrap p {
        font-size: 14px;
    }

    .form-block input[type="text"], input[type="email"], input[type="submit"] {
        width: 300px;
        font-size: 18px;
        margin: 5px 0px;
    }
    .form-block p {
        font-size: 32px;
    }
    .form-block textarea {
        width: 300px;
    }
    .close-feedback-block {
        margin-right: 30px;
    }
}
@media screen and (max-width: 600px) {
    .artists-list-block div {
        width: 350px;
    }
}
@media screen and (max-width: 450px) {
    .form-block {
        width: auto;
        margin-left: 10px;
    }
    .artists-list-block div {
        width: 250px;
    }
}
