
/*Adaptive design*/
@media screen and (max-width: 1150px) {
    .header-wrapper, .gallery-wrapper, .artists-page-wrap, .artist-wrap, .picture-wrap, .footer-wrap {
        width: 884px !important;
    }
    .gallery-wrapper {
        height: 887px;
    }
    .gallery-element {
        width: 292px;
        height: 292px;
    }
    .artists-element {
        width: 292px;
        height: 292px;
    }
    .artists-list-block a {
        margin: 25px 0px;
    }
}
@media screen and (max-width: 950px) {
    .header-wrapper, .gallery-wrapper, .artists-page-wrap, .artist-wrap, .filter-bar-wrapper, .picture-wrap, .footer-wrap {
        width: 732px !important;
    }
    .gallery-wrapper {
        height: 1839px;
    } 
        .filter-bar-element a {
            font-size: 14px;
            padding: 15px 10px;
        }
    .gallery-element {
        width: 364px;
        height: 364px;
    }
    .artists-element {
        width: 364px;
        height: 364px;
    }
    .picture-img-block {
        width: 60%;
    }
    .picture-description {
        width: 40%;
    }
    .picture-img-block {
        display: block !important;
        width: 100% !important;
    }
    .picture-description {
        width: 100% !important;
    }
    .picture .picture-wrap .picture-description p, h3, a {
        padding: 10px 0;
    }
    .picture-description h3 {
        margin-top: 20px !important;
    }
    .picture-description-inner {
        padding: 0px;
    }
}
@media screen and (max-width: 764px) {
    .header-wrapper, .gallery-wrapper, .artists-page-wrap, .artist-wrap, .filter-bar-wrapper, .picture-wrap, .footer-wrap {
        width: 550px !important;
    } 
    .gallery-wrapper {
        height: 1389px;
    }
    .gallery-element {
        width: calc(50% - 3px);
        max-height: 274px;
    }
    .artists-element {
        width: calc(50% - 3px);
        max-height: 274px;
    }
    .filter-bar-wrapper {
            height: 120px;
        }
            .filter-bar-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
                .filter-bar-element {
                    height: auto;
                    margin: 20px 0px;
                }
    .picture-img-block {
        width: 100%;
    }
    .picture-description {
        width: 100%;
    }
        .picture-description h3{
            margin-top: 30px;
            padding-left: 0;
        }
        .picture-description p {
            padding-left: 0;
        }
        .picture-description a {
            padding-left: 0;
        }
    .owl-carousel .owl-nav .owl-prev img {
        height: 30px;
    }
    .owl-carousel .owl-nav .owl-next img {
        height: 30px;
    }
    .slider .owl-carousel .item {
        height: 274px;
    }
    .artist-wrap p {
        font-size: 16px;
    }
    .artist-main-block {
        flex-flow: column;
        align-items: center;
    }
    .artist-photo {
        width: 100% !important;
    }
    .artist-short-info {
        width: 100% !important;
    }
        .artist-short-info h3 {
            padding: 10px !important;
        }
        .artist-short-info p {
            padding: 10px !important;
        }
    
    .picture-description-inner {
        padding: 10px;
    }
        .picture-description-inner h3, a{
            padding: none !important;
        }
    .artist-biography {
        padding: 0 10px !important;
    }
}

@media screen and (max-width: 764px) and (min-width: 621px) {
    .gallery-title {
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 621px){
    .dropdown-filter{
        display: none !important;
    }
}
@media screen and (max-width: 620px) {
    .header-wrapper, .gallery-wrapper, .artists-page-wrap, .artist-wrap, .filter-bar-wrapper, .footer-wrap {
        width: 100% !important;
    } 
    .logo img{
        height: 60px;
        margin-left: calc(50% - 30px); 
    }
    .picture-wrap {
        width: 100% !important;
    }
    .gallery-wrapper {
        height: 2502px;
    }
        .menu a, .om-menu a{
            margin-left: 15px;
        }
        .mail a, .om-mail a{
            margin-right: 15px;
        }
    .gallery-element {
        width: 100%;
        height: 300px;
    }
    .artists-element {
        width: 100%;
        height: 300px;
    }
    .filter-bar-wrapper {
        display: table;
    }
    .filter-bar-element {
        display: none;
    }
    .filter-bar-button {
        display: table-cell;
    }
        .rights {
            font-size: 10px;
        }
    .artist-wrap p {
        font-size: 14px;
    }

    .form-block input[type="text"], input[type="email"], input[type="submit"] {
        width: 300px;
        font-size: 18px;
        margin: 5px 0px;
    }
    .form-block p {
        font-size: 32px;
    }
    .form-block textarea {
        width: 300px;
    }
}
@media screen and (max-width: 450px) {
    .form-block {
        width: auto;
        margin-left: 10px;
    }
}
