* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'MyWebFontBold';
    src: url('fonts/Helvetica Monospaced W01 Bd.ttf');
}
@font-face {
    font-family: 'MyWebFont';
    src: url('fonts/Helvetica Monospaced W01.ttf');
}

input[type="text"], input[type="email"], input[type="submit"] {
   border: 0px solid #111; 
   background: rgba(0, 0, 0, .0) !important; 
   outline: none;  
   height: 60px; 
   width: 200px;
   color: #ffffff; 
   font-size: 48px;
   font-family: MyWebFont; 
}

/*Main page*/



    .header {
        height: 120px;
        background-color: #171717;
    }
        .header-wrapper {
            margin: 0 auto;
            width: 1100px;
            height: 120px;
            display: table;
        }
            .menu {
                height: 120px;
                margin-left: 5px;
                display: table-cell;
                vertical-align: middle;
            }
            .logo {
                height: 120px;
                width: 100%;
                display: table-cell;
                vertical-align: middle;
            }
            .logo img{
                height: 90px;
                margin-left: calc(50% - 45px); 
            }
            .search {
                height: 120px;
                margin-right: 5px;
                display: table-cell;
                vertical-align: middle;
            }
                .search a {
                    float: right;
                }
    
    .artists-list {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
        .artists-list-title {
            margin-top: 30px;
        }
            .artists-list-title a {
                font-family: MyWebFont;
                text-transform: uppercase;
                margin-top: 30px;
                font-size: 2em;
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }
        .artists-list-block {
            height: 120px;
            display: flex;
            align-items: center;
        }
            .artists-list-block a {
                font-family: MyWebFontBold;
                font-size: 16px;
                text-decoration: none;
                padding: 0px 15px;
                color: #111;
            }
            .artists-list-block a:hover {
                text-decoration: underline;
            }
    
    .gallery-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .gallery-title h1 {
            font-family: MyWebFont;
            text-transform: uppercase;
            margin-top: 30px;
        }
    .filter-bar {
        height: 120px;
    }
        .filter-bar-wrapper {
            margin: 0 auto;
            display: table;
        }
            .filter-bar-element {
                height: 120px;
                display: table-cell;
                vertical-align: middle;
            }
                .filter-bar-element a {
                    font-family: MyWebFontBold;
                    font-size: 16px;
                    text-decoration: none;
                    text-align: right;
                    color: #171717;
                    border: 2px solid #171717;
                    padding: 15px;
                    font-weight: bold;
                    margin: 0 10px;
                    transition: 300ms;
                }
                .filter-bar-element a:hover {
                    background-color: #171717;
                    color: white;
                }
        .filter-bar-button {
            display: none;
            vertical-align: middle;
            text-align: center;
        }
            .filter-bar-button a {
                font-size: 22px;
                font-family: MyWebFont;
                text-decoration: none;
                color: #171717;
                padding: 20px;
                border: 2px solid #171717;
                transition: 300ms;
            }
            .filter-bar-button a:hover {
                background-color: #171717;
                color: white;
            }
        .dropdown-filter {
            display: none;
            float: left;
            width: 100%;
            overflow: hidden;
            text-align: center;
        }
            .dropdown-filter a {
                display: block;
                font-size: 16px;
                font-family: MyWebFont;
                text-decoration: none;
                color: #171717;
                padding: 10px;
                border: 2px solid #171717;
                margin-bottom: 10px;
                transition: all .3s;
            }
            .dropdown-filter a:hover {
                background-color: #171717;
                color: white;
            }

        .gallery-wrapper {
            width: 1100px;
            height: 1100px;
            margin: 0 auto;
        }
            .gallery-element {
                display: inline-block;
                position: relative;
                overflow: hidden;
                width: 364px;
                height: 363px;
                background-color: #171717;
            }
                .gallery-element a {
                    text-decoration: none;
                }
                .gallery-element-info {
                    font-family: MyWebFont;
                    position: absolute;
                    top: 0; left: 0;
                    background-color: rgba(0, 0, 0, .0);
                    color: rgba(255, 255, 255, .0);
                    width: 100%;
                    height: 100%;
                    transition: 300ms;
                }
                .gallery-element-p {
                    object-position: top !important;
                }
                .gallery-element img{
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover; /* заполнение блока тегом img */
                    object-position: center; /* центрирование картинки внутри блока*/
                }
                .gallery-element-info:hover {
                    background-color: rgba(0, 0, 0, .8);
                    color: rgb(255, 255, 255);
                }
                    .short-description {
                        position: absolute;
                        bottom: 0;
                        margin: 0px 0px 30px 30px;
                    }
                        .short-description p {
                            padding: 3px 0px;
                        }
.open-menu {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: table;
    z-index: 9;
    position: fixed;
    top: 0;
}
 .hiden {
    display: none !important;
}
    .open-menu ul {
        display: table-cell;
        vertical-align: middle;
    }
    .ww1 {
        display: block;
    }
    .ww2 {
        display: table;
        width: 100%;
        height: calc(100% - 300px);
    }
    .om-menu {
        height: 120px;
        margin-left: 5px;
        display: table-cell;
        vertical-align: middle;
    }
        .open-menu li {
            font-family: MyWebFont;
            font-size: 36px;
            text-align: center;
            margin: 15px 0px;
            list-style-type: none;
        }
            .open-menu a {
                text-decoration: none;
                color: white;
            }
            .close-menu {
                height: 120px;
            }
.open-search {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: table;
    z-index: 9;
    position: fixed;
    top: 0;
}
    .open-search-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    .close-search {
        float: right;
    }
        .open-search-wrapper input {
            display: block;
            margin: 0 auto;
        }
        .os-search {
            margin-right: 5px;
            display: table-cell;
            vertical-align: middle;
        }
/* Picture of one page*/
.picture {
    font-family: MyWebFont;
}
    .picture-wrap {
        margin: 0 auto;
        width: 1100px;
        //background-color: #F5F5F5;
    }
        .picture-img-block {
            display: inline-block;
            width: 50%;
        }
        .picture-wrap .picture-img-block img {
            width: 100%;
            cursor: pointer;
            margin: 0 auto;
        }
        .full-size-img {
            width: auto !important;
            margin: 0 auto;
        }
        .picture-description {
            width: 50%;
            float: right;
        }
        .full-size-description {
            width: 100%;
        }
        .full-size-description h3, .full-size-description p, .full-size-description a {
            padding: 0px 0px 20px 0px !important;
        }
        .picture-description h3{
            margin-top: 50px;
            padding: 0px 0px 20px 50px;
            font-family: MyWebFontBold;
            font-size: 19px;
        }
        .picture-description p {
            font-family: MyWebFontBold;
            font-size: 16px;
            padding: 0px 20px 20px 50px;
        }
        .picture-description span {
            font-family: MyWebFont;
        }
        .picture-description a {
            color: #000;
            padding: 0px 20px 20px 50px;
        }

.artists-page {
    margin-top: 3px;
}
    .artists-page-wrap {
        width: 1100px;
        margin: 0 auto;
    }
        .artists-title {
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .artists-page-wrap h1 {
            font-family: MyWebFont;
            text-transform: uppercase;
        }
        .artists-element {
                display: inline-block;
                position: relative;
                overflow: hidden;
                width: 364px;
                height: 363px;
                background-color: #171717;
            }
                .artists-element a {
                    text-decoration: none;
                }
                .artists-element img{
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover; /* заполнение блока тегом img */
                    object-position: center; /* центрирование картинки внутри блока*/
                }



.feedback {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: MyWebFont;
}   
    .feedback .header {
        position: absolute;
        width: 1100px;
        top: 0;
        background-color: rgba(0, 0, 0, 0);
    }
        .close-feedback-block {
            float: right;
            margin-top: 44px;
        }
    .form-block {
        width: 400px;
    }
        .paint-name {
            color: red @important;
            font-size: 18px @important;
        }
        .form-block p {
            font-size: 48px;
            color: white;
            margin: 10px 0px;
        }
        
        .form-block input[type="text"], input[type="email"], input[type="submit"] {
            width: 400px;
            font-size: 28px;
            margin: 10px 0px;
        }
        .form-block input[type="submit"] {
            width: auto;
            cursor: pointer;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            transition: 300ms;
        }
        .form-block input[type="submit"]:hover {
            border-bottom: 1px solid white;
        }
         textarea {
            font-size: 24px;
            color: white;
            margin: 10px 0px;
            background: rgba(0, 0, 0, .0) !important;
            outline: none;
        }

.full-size-feedback {
    display: flex;
}

.footer {
     height: 120px;
     width: 100%;
     background-color: #171717;
}






